<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hi, {{ name }}</p>
  <p>It seems that a password reset was requested for your account.</p>
  <p>If you have requested it, click on the following link to choose a new password :</p>
  <p>
    <a href="{{link}}">Reset my password</a>
  </p>
  <p>If you have not requested it, please ignore this message.</p>
  <p>
    Thank you! <br />
    <strong>GoBarber Team</strong>
  </p>
</div>
